.left {
  float: left;
  width: 30%;
  height: 90%;
}

.right {
  float: right;
  width: 70%;
  height: 90%;
  align-items: center;
}

textarea {
  height: 95%;
  width: 95%;
  font-family: "Courier New", Courier, monospace;
}
